﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Entrevistador.master.cs" Inherits="GVoluntariado.Perfil.Entrevistador.Entrevistador" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
</body>
</html>
