﻿
/*(っ◔◡◔)っ ♥ Montserrat ♥ */
@font-face {
    font-family: 'Montserrat Black';
    src: url('../Content/Fonts/Montserrat/Montserrat-Black.ttf');
}

@font-face {
    font-family: 'Montserrat Black Italic';
    src: url('../Content/Fonts/Montserrat/Montserrat-BlackItalic.ttf');
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('../Content/Fonts/Montserrat/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat Bold Italic';
    src: url('../Content/Fonts/Montserrat/Montserrat-BoldItalic.ttf');
}

@font-face {
    font-family: 'Montserrat Extra Bold';
    src: url('../Content/Fonts/Montserrat/Montserrat-ExtraBold.ttf');
}

@font-face {
    font-family: 'Montserrat Extra Bold Italic';
    src: url('../Content/Fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf');
}

@font-face {
    font-family: 'Montserrat Extra Light';
    src: url('../Content/Fonts/Montserrat/Montserrat-ExtraLight.ttf');
}

@font-face {
    font-family: 'Montserrat Extra Light Italic';
    src: url('../Content/Fonts/Montserrat/Montserrat-ExtraLightItalic.ttf');
}

@font-face {
    font-family: 'Montserrat Italic';
    src: url('../Content/Fonts/Montserrat/Montserrat-Italic.ttf');
}

@font-face {
    font-family: 'Montserrat Light';
    src: url('../Content/Fonts/Montserrat/Montserrat-Light.ttf');
}

@font-face {
    font-family: 'Montserrat Light Italic';
    src: url('../Content/Fonts/Montserrat/Montserrat-LightItalic.ttf');
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url('../Content/Fonts/Montserrat/Montserrat-Medium.ttf');
}

@font-face {
    font-family: 'Montserrat Medium Italic';
    src: url('../Content/Fonts/Montserrat/Montserrat-MediumItalic.ttf');
}

@font-face {
    font-family: 'Montserrat Regular';
    src: url('../Content/Fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat Semi Bold';
    src: url('../Content/Fonts/Montserrat/Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: 'Montserrat Semi Bold Italic';
    src: url('../Content/Fonts/Montserrat/Montserrat-SemiBoldItalic.ttf');
}

@font-face {
    font-family: 'Montserrat Thin';
    src: url('../Content/Fonts/Montserrat/Montserrat-Thin.ttf');
}

@font-face {
    font-family: 'Montserrat Thin Italic';
    src: url('../Content/Fonts/Montserrat/Montserrat-ThinItalic.ttf');
}
/***************************************/

/*(っ◔◡◔)っ ♥ Roboto ♥ */
@font-face {
    font-family: 'Roboto Black';
    src: url('../Content/Fonts/Roboto/Roboto-Black.ttf');
}

@font-face {
    font-family: 'Roboto Black Italic';
    src: url('../Content/Fonts/Roboto/Roboto-BlackItalic.ttf');
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('../Content/Fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto Bold Italic';
    src: url('../Content/Fonts/Roboto/Roboto-BoldItalic.ttf');
}

@font-face {
    font-family: 'Roboto Italic';
    src: url('../Content/Fonts/Roboto/Roboto-Italic.ttf');
}

@font-face {
    font-family: 'Roboto Light';
    src: url('../Content/Fonts/Roboto/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto Light Italic';
    src: url('../Content/Fonts/Roboto/Roboto-LightItalic.ttf');
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('../Content/Fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Roboto Medium Italic';
    src: url('../Content/Fonts/Roboto/Roboto-MediumItalic.ttf');
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('../Content/Fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Thin';
    src: url('../Content/Fonts/Roboto/Roboto-Thin.ttf');
}

@font-face {
    font-family: 'Roboto Thin Italic';
    src: url('../Content/Fonts/Roboto/Roboto-ThinItalic.ttf');
}
/***************************************/
